body {
    color: rgb(68, 67, 67);
    background: url(/public/images/background.jpg);
    background-size: cover;
    background-position: 10% 5%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 3em;
    background: rgb(161, 211, 168);
  }
  
  nav {
    height: 0px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
  }
  
  

  #logo-img {
    height: 70px;
    width: 150px;
  }
  
  nav a {
    font-size: 1.5rem;
    color: #0a0a0a;
    font-weight: 400;
  }
  
  header a {
    padding: 0 10px;
    text-decoration: none;
    color: aliceblue;
  }
  
  header a:hover {
    color: rgb(94, 89, 170);
  }

  section {
    margin-bottom: 100px;
  }

  .greeting {
    color: teal;
    font-size: 20px;
    font-weight: 600;
    margin-left: auto;
    margin-top: 0.5%;
    margin-right: 0.5%;
  }

  .search{
    position: relative;
    left: -1%;
  }

  /* DROPDOWN */

  .dropdown{
    position: relative;
    display: inline-block;
    margin-left: -10px

  }
  .dropdown-content{
    display: none;
    position: absolute;
    width: 115px;
    height: 10vh;
    padding-top: 10px;
    font-size: 28px;
    z-index: 1000;
  }
  .dropdown-content a{
    text-decoration: none;
  }

  .dropdown:hover .dropdown-content {
    display: flex ;
    flex-flow: row wrap;
    margin-left: 0;
    background-color: #a1d3a8;
  }

  .dropdown:hover .dropdown-content a:nth-child(1){
    text-decoration: none;
    margin: 1%;
    margin-left: 10px;
    padding: 0;
    
  }

  
  
